*{
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
nav{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom-color: black;
    border-style:double; 
}
header{
    text-align: center;
}
nav .row{
   position:absolute;
   width:90%;
   top:1%;
}
nav a{
    text-decoration-line: none;
    color:white;
    text-align: end;
}
.heading{
    border-style: dashed;
    border-left: ridge;
    border-left-color: blueviolet;
    border-width: 5px;
   border-right: hidden;
   border-top: hidden;
   border-bottom: hidden;
}
aside{
    padding:2%;
    border-style:double;
    margin:0% 10% 0% 50%;
}
h3{
    overflow-y: hidden;
}
h4{
    overflow-y: hidden;
}
h5{
    overflow-y: hidden;
}
.card1{
    padding:1% 25% 0px 10%;

}
.card2{
    padding:1% 25% 0px 10%;
}
.card3{
    padding:1% 25% 0px 10%;
}

/* .navbutton{
    
    text-align: center;
} */
.buttont{

margin-right: 50%;
}