*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h2{
    overflow: hidden;
}
h4{
    overflow: hidden;
}
.navbar{
    background-color: #99627A;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
}  
.nav-item a:hover{
    background-color: #C88EA7;
}

.midBox{
    background-color: #EEEEEE;
    position: relative;

    
}
.midBox h2{
    font-size: 50px;
}
.midBox p{
   color:white;
   background-color: #99627A;
   font-size: 20px;
   padding-left: 5px;
}

.payout{
    background-color: #E7CBCB;
    
}
.payout{
    padding:3% 5% 0 5%;
}
.payout ul{
    list-style-type: circle;
}
.payout .img1{
    max-width:40%;
}
.payout .img2{
    max-width:20%;
    padding-top:2%;
}
.sectionInfo{
    margin-top:3%;
    background-color:#9DB2BF;
}
.sectionInfo p{
     font-size: 200%;
     
}

.teleIcon i{
font-size: 100%;
}
form input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.icons i{
    font-size:200%;
    margin-right:5%;
    /* border-radius:100%; */
}
.icons a{
    color:black;
    
}






footer{
    background-color:#C88EA7;
    position: absolute;
}
.footsec{
    padding:20px
}
.moto{
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
.footsec hr{
    color:white;
    border:none;
    height:6px;
    background-color:white;
}
.footsec h3{
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.footsec li{
    list-style-type: none;
}
.footsec a{
   text-decoration: none;
   color:black;
}
.footsec a:hover{
    color:white;
}
.fonts{
    font-size: 140%;
}
